h1 {
    color: rgb(253, 142, 32);
    color-scheme: dark;
    font-family: 'SF Pro Rounded';
    src: url(../../../public/reminder-font.ttf);
    letter-spacing: .06em;
}

.reminders form{ /* fixed form from being hidden behind it's parent div */
  display: flex;
  position: absolute; /* fixed form from being hidden behind it's parent div */
  z-index:9;
}

.reminders > div {
  position: absolute; /* fixed form from being hidden behind it's parent div */
  z-index:9;

}

input {
  background-color: ;
}